[submodule "PINNs"]
	path = PINNs
	url = https://github.com/maziarraissi/PINNs.git
[submodule "Physics-Informed-Neural-Networks"]
	path = Physics-Informed-Neural-Networks
	url = https://github.com/omniscientoctopus/Physics-Informed-Neural-Networks.git
